// variables
//$primaryColor: #be651c;
$primaryColor: #944713e8;
$primaryLight: #dbaa7e;
$secondaryColor: #3e4447;
$thirdColor: #d4d9dc;
//$fontFamily : 'Special Elite', cursive;
$fontFamily: 'Vollkorn', serif;
$secondFontFamily: Georgia, 'Times New Roman', Times, serif;
$font-family2: 'Urbanist', sans-serif;
$teal: #2a8b83;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.aboutContainer{
    width: 100%;
   
}
#about{
    //background: $secondaryColor;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    max-width: 1500px;
    margin: auto;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
     .top_arrow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .top_arrow svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 0px;
       // height: 100px;
        transform: rotateY(180deg);
        @media only screen and (max-width: 800px) {
            height: 30px;
        }
    }
    
    .top_arrow .shape-fill {
        //fill: $primaryColor;
        fill: $secondaryColor;
        //fill: $primaryLight;
        @media only screen and (max-width: 800px) {
           fill: $primaryColor;
        }
    }
    .bottom_arrow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
       
        @media only screen and (max-width: 800px) {
            display: none;
        }
    }
    
    .bottom_arrow svg {
        position: relative;
        display: block;
        width: calc(135% + 1.3px);
        //height: 136px;
        height: 100px;
    }
    
    .bottom_arrow .shape-fill {
       
        fill: $secondaryColor;
       // fill: $primaryColor;
       // fill: white;
        
    }
    
    

    @media only screen and (max-width: 800px) {
        &{
            background: none;
            flex-direction: column;
            top: 55rem;
            height: unset;
            border-bottom: none;
            border-top: none;
          
        }
        
     }
     
     .title{
        color: $primaryColor;
        font-family: $fontFamily;
        font-weight: lighter;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 800px) {
            &{
                display: none;
            }
        }
     
    }
    .title2{
        color: $primaryColor;
        font-family: $fontFamily;
        font-size: 1rem;
        font-weight: lighter;
        display: none;
        @media only screen and (max-width: 800px) {
            &{
                display: block;
                //padding-top: 45px;
                position: absolute;
                top: 3rem;
            }
        }
    }

}   

.cardWrapper{
   
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    height: 70%;
    width: 70%;
    margin: auto;
    //margin-bottom: 3rem;
   
    @media only screen and (max-width: 800px) {
        &{
         display: block;
         width: 100%;
         position: relative;
         top: 10rem;
        }
        
     }

}


.card{
    height: 15rem;
    //background: white;
    position: relative;
    //box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin: auto;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 3;
    
    &:hover{
       
        border: 1px solid $primaryColor;
        
    }
   
    
   
    @media only screen and (max-width: 800px) {
        &{
            height: 17rem;
            margin: 1.3rem 0;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
            border-bottom: unset;
        }
        &:hover{
            border: unset;
            
        }
    }   


    h3{
        
        font-size: 3rem;
        padding-top: 1rem;
         
        img{
            width: 8rem;
            height: 8rem;
           @media only screen and (max-width: 800px) {
            &{
                height: 8rem;
                width: 8rem;
            }
        }   
        }
    }

    .caption{
        width: 100%;
        height: 30%;
        background: none;
        //background: $secondaryColor;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 15px;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        @media only screen and (max-width: 800px) {
            background: $secondaryColor;
        }

        h2{
            font-family: $fontFamily;
            font-weight: lighter;
            font-size: .9rem;
            letter-spacing: .09rem;   
            color: $primaryColor;
            
            @media only screen and (max-width: 800px) {
                color: white;
            }
           

        }
        
    }

    // hide element on landing cards
    .skills{
        display: none;
    }
    p{
        display: none;      
    }
    .social-links{
        display: none;
    }      

    h1{
        
        display: none;
        
        img{
            width: 5rem;
            height: 5rem;
            //filter: drop-shadow(2px 2px 5px #000000);
            
    
        }
        .fa-solid {
            font-size: 3rem;
            color: #be651c;
        }
        
    }
     
    //.globe{
        //display: none;
        //animation: spin 10s linear infinite;
        //-webkit-animation: spin 10s linear infinite;
        
        
        //img{
            //width: 8rem;
            //height: 8rem;
           // filter: drop-shadow(7px 10px 10px #000000);
            
       // }
    //}

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

   

}



// once the card is clicked
.active{

    grid-column: 1 / span 6;
    grid-row: 1;
    order: 0;
    height: 40vh;
    flex-direction: row;
    gap: 1rem;
    padding: 2%;
    margin: 1% 0;
    //box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    

    //this will overide the alignment of items once the card is clicked
    align-items: unset;
    
    @media only screen and (max-width: 800px) {
        &{
            flex-direction: column;
            align-items: center;
            height: 25rem;
            background: none;
            padding-top: 2rem;
            
        }
    }
    // this is a unique setting for the random facts card
    &.facts_card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p{
            overflow-y: unset;
        }
        
    }
}




.active .caption{
    display: none;
}
.active p, .active h1{
    display: block;
}
.active p{
   
    letter-spacing: .1rem;
    font-size: 1.08rem;
    line-height: 2rem;
    padding: 1rem;
    //color: $secondaryColor;
    overflow-y:scroll;

}
.active .skills{
    display: block;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: space-evenly;
    p{
        
        font-size: 1rem;
        overflow-y: unset;
        @media only screen and (max-width: 800px) {
            font-size: .8rem;
        
        }
    }
    h4{
       
        text-align: center;
        font-family: $fontFamily;
        font-weight: lighter;
        color: $primaryColor;
        font-size: 1.2rem;
        @media only screen and (max-width: 800px) {
            font-size: .8rem;
        
        }
    }
   
}

.active h2, .active h3{
    display: none;
}


// this is a unique setting for the link up card

#social-card{
    
    
    h1{
        border: none;
        display: none;
    }
    p{

        border-bottom: 2px solid #e3e1e1;
        padding-bottom: .1rem;
        border-width: thin;
        overflow-y: unset;
        span{
            color: gray;
            font-family: $font-family2;
            letter-spacing: .1rem;
        }

    }
    
    
}
.active .social-links{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    @media only screen and (max-width: 800px) {
        
        &{
            height: 100%;
        }
    
    }
    a{
        .fa-brands{
            //color:#176393;
            color: $primaryColor;
            font-size: 2rem;

            &:hover{
                //color:#4197cd; 
                color: $primaryLight;
            }
        } 
    }
}


//cards that are not clicked 

.is-inactive{

    grid-column: span 2;
    grid-row: 2;
    margin-bottom: 3%;
    height: 10rem;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    @media only screen and (max-width: 800px) {
        &{
            height: 15rem;
        } 
         
     }
    
    h3{
        img{
            width: 5rem;
            height: 5rem;
        }
    }

}
