$border: 1px solid black;
//$fontFamily : 'Special Elite', cursive;
$fontFamily: 'Vollkorn', serif;
$secondFontFamily: Georgia, 'Times New Roman', Times, serif;
//$primaryColor: #be651c;
$primaryColor: #944713e8;
$primaryLight: #dbaa7e;
$secondaryColor: #3e4447;
$thirdColor: #d4d9dc;
$teal: #2a8b83;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
#project{
    //height: 60vh;
    //background: $thirdColor;
    max-width: 1500px;
    margin: auto;
    position: relative;
    padding: 30px;
    top: 7rem;
    display: flex;
    gap: 5rem;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
   
    @media only screen and (max-width: 800px) {
       &{
        top: 147rem;
        position: absolute;
        flex-direction: column;
        height: unset;
       
       
        
       } 
    }
    
    
    .title{
        color: $primaryColor;
        font-family: $fontFamily;
        font-size: 1rem;
        font-weight: lighter;
        float: right;
        display: flex;
        flex-direction:column;
        @media only screen and (max-width: 800px) {
            &{
                display: none;
            }
        }
     
    }
    .title2{
        color: $primaryColor;
        font-family: $fontFamily;
        font-size: 1rem;
        font-weight: lighter;
        display: none;
        @media only screen and (max-width: 800px) {
            &{
                display: block;
                padding-bottom: 3rem;
               
            }
        }
    }
    
   
    .projects{
        
        
        .pro_card{
            //background: white;
            
            margin: auto;
            display: flex; 
            justify-content: center;
            align-items: center;
            padding: 1rem;
           // box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
            border-radius:.5rem;
            margin-bottom: 10rem;
            gap: 2rem;
            //max-height: 100vh;
            
            @media only screen and (max-width: 1000px) {
                &{
                    flex-direction: column-reverse;
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
                    font-size: 1.5rem;
                    width: 100%;
                    margin-bottom: 7rem;
                    
                
                }
            }

            .child1{
                padding: 3rem;
                width: 100%;
                img{
                    width: 100%;
                    border-radius: .5rem;
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
                    @media only screen and (max-width: 1000px) {
                        margin: auto;
                        box-shadow: unset;
                    }
                }
               
                
            }

            .child2{
                max-height: 30rem;
                width: 100%;
                //overflow-y: hidden;
                
                h2{
                    color: $secondaryColor;
                    font-family: $fontFamily;
                    font-weight: 900;
                    font-size: 2rem;
                    @media only screen and (max-width: 800px) {
                        font-size: 1.5rem;
                    }
                }
                p{
                    letter-spacing: .1rem;
                    font-size: 1.08rem;
                    line-height: 2rem;
                    color: #828283;
                   
                }
                button{
                    //background: $secondaryColor;
                    background: $primaryColor;
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
                    border-radius: .5rem;
                    color: white;
                    padding: .6rem;
                    border: none;
                    cursor: pointer;
                    margin: .1rem;
                    &:hover{
                        background: $primaryLight;
                        transition: 1s;
                      }
                    @media only screen and (max-width: 800px) {
                       padding: .3rem;
                    }
                    a{
                        text-decoration: none;
                        display:inline-flex;
                        align-items: center;
                        gap: .3rem;
                        color: white;
                        font-family: $secondFontFamily;
                        letter-spacing: .1rem;
                        .fa-solid, .fa-brands{
                            font-size: 2rem;
                            @media only screen and (max-width: 800px) {
                                font-size: 1.5rem;
                            }

                        }
                    }
                    
                }

            }
            
        }

    }
    
    
}
