//importing the stylesheets together
@import "./intro";
@import "./nav";
@import "./about";
@import "./project";
@import "./contact";

//Variables
//$primaryColor: #be651c;
//$primaryColor: #944713e8;
$primaryColor: #9A463D;
$primaryLight: #dbaa7e;
$secondaryColor: #3e4447;
$thirdColor: #d4d9dc;
$border: 1px solid black;
$fontFamily : 'Special Elite', cursive;
$font-family2: 'Urbanist', sans-serif;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.landingPage{
    background: url('../image/background.WebP');
    background-position: top;
    background-repeat: no-repeat;
   // background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    @media only screen and (max-width: 800px) {
        //background: url('../image/background.WebP');
        height: unset;
    }
  
   
}

#scrollBtn{ 
    display: none;
    border: none;
    background: none;
    position: fixed;
    bottom: 30px;
    right: 3rem;
    font-size: .5rem;
    cursor: pointer;
    z-index: 99;
   
    .fa-solid{
        --fa-bounce-start-scale-x: 1; 
        --fa-bounce-start-scale-y: 1; 
        --fa-bounce-jump-scale-x: 1; 
        --fa-bounce-jump-scale-y: 1; 
        --fa-bounce-land-scale-x: 1; 
        --fa-bounce-land-scale-y: 1; 
        --fa-bounce-rebound: 0;
        color: $primaryColor;
        
    }
    @media only screen and (max-width: 800px) {
        &{
            font-size: .5rem;
            right: 1rem;
        }
    }
    
}


